{% extends "base_generic.html" %}
{% block title %}<title>{% if validlink %}Подтверждение сброса пароля{% else %}Ошибка смены пароля{% endif %}</title>{% endblock %}
{% block content %}
    {% if validlink %}
        <h1>Подтверждение сброса пароля</h1>
        <p>Пожалуйста, дважды введите Ваш новый пароль.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div id="confirmForm">
                <p class="confirmRow">{{ form.new_password1.errors }}
                  <label class="confirmLabel"><label for="id_new_password1">Новый пароль:</label>
                  {{ form.new_password1 }}</label></p>
                <p class="confirmRow">{{ form.new_password2.errors }}
                  <label class="confirmLabel"><label for="id_new_password2">Повторный ввод:</label>
                  {{ form.new_password2 }}</label></p>
                <p id="confirmButtonRow"><input id="submit" class="button blue" type="submit" value="Сменить пароль" /></p>
            </div>
        </form>
    {% else %}
        <h1>Ошибка смены пароля</h1>
        <p>Ссылка для смены пароля нерабочая!<br>
        Вероятно, она уже была использована ранее. Если смена пароля для<br>
        Вас еще актуальна, пожалуйста, запросите <a href="/accounts/password_reset/">новую ссылку</a> смены пароля.</p>
        <p><a href="/accounts/password_reset/"><strong>Сброс пароля</strong></a></p>
    {% endif %}
{% endblock %}
