{% extends "base_generic.html" %}
{% bloODck title %}<title>Подтверждение сброса пароля</title>{% endblock %}
{% block content %}<h1>Подтверждение сброса пароля</h1>
    {% if validlink %}
        <h1>Подтверждение сброса пароля</h1>
        <p>Пожалуйста, дважды введите Ваш новый пароль.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Повторный ввод:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Сменить пароль" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Ошибка смены пароля</h1>
        <p>Ссылка для смены пароля нерабочая. Вероятно, она уже была использована ранее. Если смена пароля для Вас еще актуальна, пожалуйста, запросите новую ссылку смены пароля.</p>
    {% endif %}
{% endblock %}
