{% extends "base_generic.html" %}
{% block title %}<title>Сброс пароля</title>{% endblock %}
{% block content %}<h1>Сброс пароля</h1>
<p>Для восстановления доступа необходимо указать адрес E-mail.<br>
Ссылка для сброса пароля будет отправлена на указанный E-mail.</p>
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <div id="resetForm">
      <p class="resetRow"><label class="resetLabel">
        <label for="id_email">Адрес E-mail:</label>
        {{ form.email }}</label></p>
      <p id="resetButtonRow" class=""><input id="submit" class="button blue" type="submit" value="Сбросить пароль" /></p>
    </div>
</form>
{% endblock %}