{% extends "base_generic.html" %}
{% block title %}<title>Удаление автора {{ author }} - Библиотека</title>{% endblock %}
{% block content %}
<h1>Удаление автора {{ author }}</h1>
<hr>
{% if perms.catalog.can_change_authors_data %}
<p>Вы уверены, что хотите удалить автора {{ author }} из базы данных?</p>
<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" class="btn btn-default btn-lg" value="Да, удалить" />
</form>
{% else %}
<p>Вас нет прав доступа для выполнения этой операции.</p>
{% endif %}
{% endblock %}