{% extends "base_generic.html" %}
{% block title %}<title>{% if author.id %}Изменение: {{ author }}{% else %}Добавление автора{% endif %} - Библиотека</title>{% endblock %}
{% block content %}
<h1>{% if author.id %}Изменение: {{ author }}{% else %}Добавление автора{% endif %}</h1>
<hr>
{% if perms.catalog.can_change_authors_data %}
<form action="" method="post">
    {% csrf_token %}
    <div id="authorForm">
    {{ form.as_p }}
    <p id="confirmButtonRow" class="">
      <input type="submit" class="button blue" value="{% if author.id %}Изменить{% else %}Добавить{% endif %}" />
      </p>
    </div>
</form>
{% else %}
<p>У Вас нет прав доступа для выполнения этой операции</p>
{% endif %}
{% endblock %}