{% extends "base_generic.html" %}
{% block title %}<title>{% if book.id %}Изменение: {{ book }}{% else %}Добавление книги{% endif %} - Библиотека</title>{% endblock %}
{% block content %}
<h1>{% if book.id %}Изменение: {{ book }}{% else %}Добавление книги{% endif %}</h1>
<hr>
{% if perms.catalog.can_change_books_data %}
<form action="" method="post">
    {% csrf_token %}
    <div id="bookForm">
    {{ form.as_p }}
      <p id="confirmButtonRow" class="">
        <input type="submit" class="button blue" value="{% if book.id %}Изменить{% else %}Добавить{% endif %}" />
      </p>
    </div>
</form>
{% else %}
<p>У Вас нет прав доступа для выполнения этой операции</p>
{% endif %}
{% endblock %}